[Unit]
Description=Check periodically that the proper scaling governor is used

[Timer]
OnBootSec=2m
OnCalendar=5m

[Install]
WantedBy=multi-user.target
